function enableFilesystemBrowseLinks() {

  console.log('this is working at least');

  var filesystemBrowseLinks = document.querySelectorAll('.filesystem-browse-link');

  console.log('links = ' + filesystemBrowseLinks.length);

  for (var i = 0; i < filesystemBrowseLinks.length; i++) {
    var link = filesystemBrowseLinks[i];

    link.addEventListener('click', function(e) {

      console.log('you clicked a fsb link');

      var volumeId = this.getAttribute('data-volume-id');

      console.log(volumeId);

      // var src = "<%= Rails.application.config.action_controller.relative_url_root %>filesystem_browser/" + volumeId;
      // console.log('<%= Rails.application.config.action_controller.relative_url_root %>');
      // console.log(src);

      var modal = new Modal();
      var browserConfig = {
        volumeId: volumeId,
        rootElementSelector: '#modal'
      };
      modal.open({
        content: '<div id="filesystem-browser"></div>',
        callback: function() {
          generateFilesystemBrowser(browserConfig);
        }
      });
      e.stopPropagation();
      e.preventDefault();
      return false;
    });
  }

}

// (function() {

//   document.addEventListener('DOMContentLoaded', function() {
//     enableFilesystemBrowseLinks();
//   });

// })();
