#project-header {
  // font-family: "RobotoBold";
  background: $grayGhost;
  color: $gray;
  padding: 0.5rem 0 0.75rem 0;
  margin: 0.25rem 0 1.25rem 0;

  @include breakpoint(small only) {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }

  @include breakpoint(medium only) {
    padding: 1rem 0.75rem 0.5rem 0.75rem;
  }

  ul.inline-list {
    list-type: none;
    margin: 1rem 0;
    padding: 0;

    li {
      display: inline;
      margin: 0;
      padding: 0 1rem 0 0;
    }
  }

  a {
    text-decoration: none;
    color: $gray;

    &:hover {
      text-decoration: underline;
    }
  }

  .project-header-content {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;
  }

  .project-name {
    font-size: 1.6rem;
    margin: 0;
    text-transform: uppercase;
    color: $red;
    line-height: 1em;
  
    a {
      color: $red;
      text-decoration: none;
    }

    .subhead {
      // font-family: "RobotoBold", Helvetica, Arial, sans-serif;
      display: inline-block;
      font-size: 1.2rem;
      // color: $gray;
      color: $grayDarkest;
      font-weight: 300;
      padding: 0.5rem 0 0 0.25rem;
      text-transform: none;

      @include breakpoint(small only) {
        display: block;
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
    }
  }

  .project-nav {
    border-top: 1px solid $grayLighter;
    padding: 0.25rem;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    font-size: 0.8rem;

    ul {
      margin: 0;
    }

    li {
      margin: 0 1rem 0 0;
      white-space: nowrap;
    }
  }

  .input-group {
    margin-bottom: 0;
  }

  .browse-all {
    display: block;
    padding: 1rem 0 0 1rem;
    font-size: 90%;

    &.browse-all-block {
      padding-top: 0.25rem;
      padding-left: 0.25rem;
    }
  }
}
