.stickable-anchor {
  height: 0;
  width: 0;
}

.stickable {

  h1 {
    margin: 0 !important;
    padding-bottom: 1rem;

    @include breakpoint(small only) {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .row {
    // padding: 0 0.75rem;
  }

  dl.tabs {
    padding-bottom: 0.5rem !important;
    margin-bottom: 0 !important;
  }

  .sticky-show {
    display: none;

    .heading {
      @extend h1;
      font-size: $h3-font-size;
      margin-bottom: 0;
    }

    .sticky-show-header {
      background: $grayDarker;
      padding: 0.5rem 0;

      .project-name {
        @extend .project-name;
      }
    }
  }

  &.sticky {
    background: $body-background;
    position: fixed;
    center: 0;
    top: 0;
    z-index: 3000;
    width: 100%;
    max-width: 1160px;
    border-top: 0;
    // padding: 0 0.5rem 0 0;
    margin: 0 auto;
    border-bottom: 1px solid $grayLightest;

    .row {
      // width: $row-width;
      margin-left: auto;
      margin-right: auto;
    }

    .sticky-show {
      display: block;
    }

    .series-title {
      font-size: rem-calc(21);

      .date, .component-id {
        font-size: 0.9em;
      }
    }
  }

  .title {
    position: relative;
  }
}
