<!--
<div style="background: #c00; color: #fff; padding: 1rem; margin: 1rem auto;">
Leading up to and during Hurricane Florence, D. H. Hill and the Hunt
Library will be closed. Please visit the <a href="https://www.lib.ncsu.edu" style="color:#fff; text-decoration: underline;">Libraries' homepage</a> for
specific dates and times, as well as additional up-to-date
information.
</div>
 -->
