<div class="row">

  <div class="small-10 columns">
    <h1>Collection Guides Help</h1>

    <h2>What is a collection guide?</h2>

    <p>Collection guides identify, describe, and list the contents of collections of materials which are not individually cataloged. Most guides also contain information about the person or organization who created the collection. Typically, these guides do not describe individual items in the collection being described, but rather describe groupings of materials such as the contents of a folder or a box as well as the organizational context in which these materials are stored.</p>


    <h2>Search tips</h2>

    <ul>

      <li>You can search by any word within the collection guides.</li>

      <li>Look for facets to the left of the search results. These allow you to limit your results.</li>

      <li>When your search term appears in a record's title, that record will rank higher in the results.</li>

      <li>When your search includes multiple words, the results will include records that include ANY of the words.</li>

      <li>To search for a phrase, enclose it in double-quotes.</li>

      <li>Add "+" before a term to require that it exist somewhere in a the record.</li>

      <li>Add "-" before a term to exclude records that include that term.</li>

      <li>Use 'AND' between words that should BOTH be present in a record.</li>

    </ul>

<!--     Facets
    On every search screen you will see the box entitled "Refine your search." Each of the categories are called facets, and you can discover relevant resources by browsing the contents of the facets. So by selecting the Collection facet you can choose to only see items which match your query and are in the University Archives or Manuscripts collections. By selecting other facets you can further narrow your search. In order to remove a facet and expand your search click on the collapse icon. When you see a facet under "Refine your search" that is interesting, you can also dig in deeper by clicking expand to see related terms. -->



  </div>

</div>
