<div class="row">

  <div class="small-10 columns">
    <h1>About Collection Guides</h1>

    <p>This is the home page. It be modified by editing <code>/app/views/application/index.html.erb</code>.</p>
  </div>

</div>
