<div class="row">

  <div class="small-10 columns">
    <h1>About Collection Guides</h1>

    <p>The Special Collections Research Center (SCRC) holds over 22,000 linear feet of original materials documenting key collecting areas, which include the history of NCSU; agricultural innovations; plant and crop sciences; forestry and environmental sciences; computer simulation; the history of computing; architecture and design; landscape architecture; animal rights and welfare; veterinary medicine; zoological health; entomology; textiles; engineering; and related subject areas.</p>

    <p>The staff of the SCRC has created collection guides for most of these collections. Collection guides identify, describe, and list the contents of collections of materials that are not individually cataloged. Most guides also contain information about the person or organization that created the collection. Typically, these guides do not list individual items in the collection being described, but rather describe groupings of materials such as the contents of a folder or a box as well as the organizational context in which these materials are stored.</p>
  </div>

</div>
