<div class="edi-statement">
  Please note that some historical materials may contain harmful content and/or descriptions. <a href="https://www.lib.ncsu.edu/scrc/reparative-archival-description" target="libraries">Learn how we’re addressing it.</a>
</div>
