<div class="modal hide fade" id="page_loading">
  <!-- <div class="modal-head card-title">Please Wait...</div> -->
  <div class="modal-body card-body">
    <i class="icon-spinner icon-spin icon-5x"></i><br>
    &emsp;Loading...
  </div>
</div>